@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.headerSection .back-btn {
  margin-left: 20px;
  margin-top: 20px;
  padding: 5px;
  font-size: 15px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  float: left;
}

.headerSection .logout-btn {
  margin-right: 20px;
  margin-top: 20px;
  padding: 5px;
  font-size: 15px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  float: right;
}

#main-panel {
  padding: 10px;
}

#profile {
  background-color: aqua;
  width: 35%;
  margin-left: 20px;
  margin-top: 20px;
  padding: 20px;
  font-size: 15px;
  color: black;
  border-radius: 5px;
  float: left;
}

#group {
  background-color: #9f7cd4;
  width: 55%;
  margin-right: 20px;
  margin-top: 20px;
  padding: 20px;
  font-size: 15px;
  color: white;
  border-radius: 5px;
  float: right;
}

#vote-btn {
  padding: 5px;
  font-size: 15px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
}
#voted{
  padding: 5px;
  font-size: 15px;
  background-color: rgba(0, 128, 0, 0.987);
  color: white;
  border-radius: 5px;
}