@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
}

.button .btn{
    /* position: absolute; */
    right: 5px;
    top: 40%;
    height: 30px;
    width: 65px;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    opacity: 10;
    pointer-events: none;
    border-radius: 3px;
    background: cyan;
    border: 1px solid #007bff;
    transition: all 0.3ms ease;
}
input:valid ~ button{
    opacity: 1;
    pointer-events: auto;
}
button:hover{
    background: #011f40;

}
